In [1]:
# Import required libraries
import pandas as pd

# Load the Datasets
geo_df = pd.read_csv('Geospatial_Information.csv')
malaria_df = pd.read_csv('Malaria_Data.csv')
climate_df = pd.read_csv('Climatic_Data.csv')
socio_df = pd.read_csv('Socioeconomic_Data.csv')

print("Datasets Loaded Successfully")

Datasets Loaded Successfully

In [2]:
# Merge the Datasets on Country, Year, and Month
merged_df = pd.merge(geo_df, malaria_df, on=['Country', 'Year', 'Month'], how='inner')
merged_df = pd.merge(merged_df, climate_df, on=['Country', 'Year', 'Month'], how='inner')
merged_df = pd.merge(merged_df, socio_df, on=['Country', 'Year', 'Month'], how='inner')

print("Datasets Merged Successfully")

Datasets Merged Successfully

#### I used **inner join (how='inner')**, to keep only the rows that exist in all datasets.

In [3]:
# Quick Data Check
print("Merged Dataset Shape:", merged_df.shape)
print("\nMerged Dataset Columns:\n", merged_df.columns.tolist())
print("\nSample Data:\n") 
merged_df.head()

Merged Dataset Shape: (4200, 26)

Merged Dataset Columns:
 ['Country', 'Latitude', 'Longitude', 'Year', 'Month', 'Population', 'Malaria_cases', 'Malaria_incidence', 'Malaria_deaths', 'Vector_species', 'Insecticide_resistance_level', 'Drug_resistance_reported', 'Intervention_history', 'Outbreak_flag', 'Avg_temperature', 'Total_rainfall', 'Rainfall_1month_lag', 'Humidity', 'Vegetation_index', 'Altitude', 'Poverty_rate', 'Literacy_rate', 'Urban_rural', 'Sanitation_access', 'Bed_net_coverage', 'Healthcare_access']

Sample Data:

,Country,Latitude,Longitude,Year,Month,Population,Malaria_cases,Malaria_incidence,Malaria_deaths,Vector_species,...,Rainfall_1month_lag,Humidity,Vegetation_index,Altitude,Poverty_rate,Literacy_rate,Urban_rural,Sanitation_access,Bed_net_coverage,Healthcare_access
0,Nigeria,2.47,44.29,1990,1,143923543,330873,584.61,15019,An. arabiensis,...,121.7,55.7,0.77,611.1,53.64,48.44,1,53.65,57.30,51.10
1,Nigeria,2.47,44.29,1990,2,97549065,245357,37.45,9857,An. gambiae,...,423.1,74.2,0.16,117.1,67.64,76.04,1,85.68,22.43,30.70
2,Nigeria,2.47,44.29,1990,3,194477233,261763,41.45,5472,An. funestus,...,129.8,74.6,0.40,865.5,52.79,69.70,0,44.03,30.27,48.91
3,Nigeria,2.47,44.29,1990,4,79631839,993608,470.89,37775,An. gambiae,...,171.0,56.6,0.73,388.8,44.95,81.89,0,81.07,45.56,61.98
4,Nigeria,2.47,44.29,1990,5,10125408,45100,21.47,1916,An. arabiensis,...,462.1,59.2,0.37,1354.6,42.58,76.14,0,45.70,68.12,37.63

In [4]:
# Save Merged Dataset
merged_df.to_csv('Malaria_Project_Data.csv', index=False)
print("Merged dataset saved as 'Malaria_Project_Data.csv'")

Merged dataset saved as 'Malaria_Project_Data.csv'